:root {
    --backgroundColor: #ffffff;
    --fontColor: #1a1919;
    --deleteButton: #cc0000;
    --deleteButtonHover: #b02a37;
    --editButton: #ffc107;
    --editButtonHover: #e0a800;
    --plusButton: #1a1919;
    --plusButtonHover: #373636;
    --inputBlueColor: #7dbfff;
}
