:root {
    --backgroundColor: #D2E0FB;
    --fontColor: #333;
    --deleteButton: #dc3545;
    --deleteButtonHover: #b02a37;
    --editButton: #ffc107;
    --editButtonHover: #e0a800;
    --plusButton: #1D4E89;
    --plusButtonHover: #163A6B;
}
